{% extends "base.twig" %}

{% block content %}
    <main class="container-lg">
        <section class="products grid">
            {% for product in products %}
                {% include "product-card.twig" %}
            {% endfor %}
        </section>

        <section class="posts grid">
            {% for post in posts %}
                 {% include "post-card.twig" %}
            {% endfor %}
        </section>
    </main>
{% endblock %}

