.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Espaçamento entre os itens */
    margin-top: 10px;
}

.grid-item {
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    flex: 1 1 calc(33.333% - 10px);
}

@media only screen and (max-width: 800px) {
    .grid-item {
        flex: 1 1 calc(50% - 10px);
    }
}

@media only screen and (max-width: 500px) {
    .grid-item {
        flex: 1 1 100%;
    }
  }